@using NavigationRoutes
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Michael's Place</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/modernizr")
    @RenderSection("head", false)


</head>

<body>
    <div class="container-fluid">
        @using (var navbar = Html.Bootstrap().Navbar().SetFluid().SetInverse().Begin())
        {
            using (var navbarHeader = navbar.NavbarHeader().Begin())
            {
                @navbarHeader.Brand("Michael's Place")
                @navbarHeader.NavbarToggle()
            }
            using (var nav = navbar.NavbarNav().Begin())
            {
                if (ViewContext.HttpContext.Request.IsLocal)
                {
                    using (var dropdown = nav.Dropdown("DevTools").Begin())
                    {
                        @dropdown.DropdownLink("App", "http://localhost:8081/app/index.html")
                        @dropdown.DropdownLink("API Documentation", "/api/swagger/ui/index")
                        @dropdown.DropdownLink("IdentityManager", "/idm")
                        @dropdown.DropdownLink("Error Log", "/elmah.axd")
                        @dropdown.DropdownLink("Glimpse", "/glimpse.axd")

                    }
                }

                @Html.Partial("_LoginPartial")

            }
        }

        <!-- sidebar -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
            </ul>
            @RenderSection("sidebar", required:false)
        </div>


        <div class="body-content">
            @RenderBody()
           
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Michael's Place</p>
        </footer>
    </div>

@Scripts.Render("~/js")
@RenderSection("scripts", false)
<script>
    $(document).ready(function () {
        $('[data-toggle=offcanvas]').click(function () {
            $('.row-offcanvas').toggleClass('active');
        });
    });
</script>
</body>
</html>