@using BootstrapSupport
@using NavigationRoutes
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Michael's Place</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/modernizr")
    @RenderSection("head", false)


</head>

<body>
    <div class="container-fluid">
        @using (var navbar = Html.Bootstrap().Navbar().SetFluid().SetInverse().Begin())
        {
            using (var navbarHeader = navbar.NavbarHeader().Begin())
            {
                @navbarHeader.Brand("Michael's Place", "/")
                @navbarHeader.NavbarToggle()
            }
            using (var navCollapse = navbar.NavbarCollapse().Begin())
            {
                using (var nav = navCollapse.NavbarNav().Begin())
                {
                    if (ViewContext.HttpContext.Request.IsLocal)
                    {
                        using (var dropdown = nav.Dropdown("DevTools").Begin())
                        {
                            @dropdown.DropdownLink("App (IIS)", "http://localhost:8080/app/index.html")
                            @dropdown.DropdownLink("App (gulp watch)", "http://localhost:8081")
                            @dropdown.DropdownLink("API Documentation", "/api/swagger/ui/index")
                            @dropdown.DropdownLink("IdentityManager", "/idm")
                            @dropdown.DropdownLink("Error Log", "/elmah.axd")
                            @dropdown.DropdownLink("Glimpse", "/glimpse.axd")

                        }
                    }
                    using (var dropdown = nav.Dropdown("Management Areas").Begin())
                    {
                        //@dropdown.DropdownLink("Admin Users", "/idm")
                        //@dropdown.DropdownLink("Staff Alerts", Url.Action("StaffAlerts","Preferences"))
                        @dropdown.DropdownDivider()
                        @dropdown.DropdownLink("Tags (Filters)", Url.Action("Index", "Tag"))
                        @dropdown.DropdownLink("Situations (Programs)", Url.Action("Index", "Situation"))
                        @dropdown.DropdownLink("Articles", Url.Action("Index", "Article"))
                        @dropdown.DropdownLink("ToDos", Url.Action("Index", "Article"))
                        @dropdown.DropdownDivider()
                        @dropdown.DropdownLink("Organizations", Url.Action("Index", "Organization"))
                        @dropdown.DropdownLink("Users", Url.Action("Index", "People"))
                        @dropdown.DropdownLink("Cases", Url.Action("Index", "Case"))
                        @dropdown.DropdownLink("Reports", Url.Action("Index", "Report"))

                    }

                }
                <i id="ajax-spinner" class="fa fa-cog fa-spin fa-3x fa-fw" style="display: none;" title="Working..."></i>
                @Html.Partial("_LoginPartial")


            }
        }


        <div class="body-content">
            @RenderBody()

        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Michael's Place</p>
        </footer>
    </div>

    @Scripts.Render("~/js")
    @RenderSection("scripts", false)
    <script>
        $(document).ready(function () {
            $('[data-toggle=offcanvas]').click(function () {
                $('.row-offcanvas').toggleClass('active');
            });
            Ladda.bind('.ladda-button');
        });

    </script>
    @foreach (var script in Html.GetScripts())
    {
        @script
    }
</body>
</html>