@using System.Web.Mvc.Html
@using BootstrapSupport
@model IEnumerable<MichaelsPlace.Models.Admin.AdminItemModel>

@{
    ViewBag.Title = ViewBag.Prefix;
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@section tabs
{
@Html.Partial("~/Views/Item/_ItemsNav.cshtml")
}

<p>
    @Bootstrap.LinkButton("Create New", Url.Action("Create")).SetState(ButtonState.Success)
</p>

@using (var table = Bootstrap.AjaxDataTable(Url).Begin())
{
    <thead>
        <tr>
            <th data-property="@Html.JsonNameFor(m => m.Title)" data-priority="1" data-searchable="true" data-orderable="true">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th data-property="@Html.JsonNameFor(m => m.CreatedUtc)" data-priority="1" data-searchable="true" data-orderable="true">
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </th>
            <th data-property="@Html.JsonNameFor(m => m.CreatedBy)" data-priority="1" data-searchable="true" data-orderable="true">
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th class="col-md-1" id="item-buttons">Actions</th>
        </tr>
    </thead>
}