@using BootstrapSupport
@model IEnumerable<MichaelsPlace.Models.Persistence.Organization>

@{
    ViewBag.Title = "Organizations Index";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}



<p>
    @Bootstrap.AjaxLinkButton("Create", Url.Action("Create"))
</p>

@using (var table = Bootstrap.AjaxDataTable(Url).Begin())
{

    <thead>
    <tr>
        <th data-property="@Html.JsonNameFor(m => m.Name)">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th data-property="@Html.JsonNameFor(m => m.PhoneNumber)">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th data-property="@Html.JsonNameFor(m => m.FaxNumber)">
            @Html.DisplayNameFor(model => model.FaxNumber)
        </th>
        <th data-property="@Html.JsonNameFor(m => m.Notes)">
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th class="col-md-1" id="item-buttons">Actions</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
}
