@using BootstrapSupport
@model MichaelsPlace.Controllers.Admin.PersonEditViewModel


@using (var form = Bootstrap.AjaxForm(Url.Action("Edit"), new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "edit-modal-container",
    //OnBegin = "$('form').validate().form()",
    OnSuccess = "indexViewModel.editComplete",
    OnComplete = "Ladda.bind('.ladda-button')",
}).Begin())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Person.Id)

        @Bootstrap.DisplayFor(m => m.Person.HasApplicationUser)

        @Bootstrap.EditorFor(m => m.Person.FirstName)

        @Bootstrap.EditorFor(m => m.Person.LastName)

        @Bootstrap.EditorFor(m => m.Person.EmailAddress)

        @Bootstrap.InputFor(m => m.Person.PhoneNumber)

        @form.EditorFor(m => m.Person.IsStaff)

        @form.EditorFor(m => m.Person.IsDisabled)

        @form.EditorFor(m => m.Person.IsLockedOut)

        
        <div class="form-group">
            @Html.Label("Roles", new {@class = "control-label"})
            @using (form.FormGroup().Begin())
            {
                foreach (var item in Model.RolesList)
                {
                    <input type="checkbox" name="SelectedRoles" value="@item.Text" id="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                    @Html.Label(item.Text, new { @class = "control-label", @for = @item.Value })
                }
            }
        </div>

        @form.ValidationSummary()

        <div class="form-group">
            @Bootstrap.Submit("Save").AddCss("btn-success").AddFeedback()
        </div>
    </div>
}
