@using BootstrapSupport
@model MichaelsPlace.Controllers.Admin.PeopleIndexViewModel

@{
    ViewBag.Title = "User Index";
}

@using BootstrapSupport
@using MichaelsPlace.Controllers.Admin
@using MichaelsPlace.Models.Admin

@using (var tabs = Bootstrap.Tabs().AddStyle("margin-bottom","10px").Begin())
{
    <li><h2 style="margin: 0 15px 0 0; text-transform: none;">People</h2></li>
    @tabs.Tab("All", Url.Action("Index", new { displayMode = PeopleIndexDisplayMode.All })).SetActive(Model.DisplayMode == PeopleIndexDisplayMode.All)
    @tabs.Tab("Staff", Url.Action("Index", new { displayMode = PeopleIndexDisplayMode.Staff })).SetActive(Model.DisplayMode == PeopleIndexDisplayMode.Staff)
    @tabs.Tab("Clients", Url.Action("Index", new { displayMode = PeopleIndexDisplayMode.Clients})).SetActive(Model.DisplayMode == PeopleIndexDisplayMode.Clients)
}

@using (var table = Bootstrap.AjaxDataTable(Url)
    .AddData("ajax-data", Json.Encode(new {Model.DisplayMode}))
    .Begin())
{
    <thead>
    <tr>
        <th data-property="@nameof(PersonModel.EmailAddress)"  data-priority="1">
            @Html.DisplayNameFor(model => model.People[0].EmailAddress)
        </th>
        <th data-property="@nameof(PersonModel.FirstName)">
            @Html.DisplayNameFor(model => model.People[0].FirstName)
        </th>
        <th data-property="@nameof(PersonModel.LastName)">
            @Html.DisplayNameFor(model => model.People[0].LastName)
        </th>
        <th data-property="@nameof(PersonModel.IsDisabled)">
            @Html.DisplayNameFor(model => model.People[0].IsDisabled)
        </th>
        <th data-property="@nameof(PersonModel.IsLockedOut)">
            @Html.DisplayNameFor(model => model.People[0].IsLockedOut)
        </th>
        <th class="col-md-1" id="item-buttons">Actions</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
}

@Html.Partial("Templates/_IndexEditModal")
@Html.Partial("Templates/_IndexDetailsModal")
@Html.Partial("Templates/_IndexItemButtons")